*{
    margin: 0;
    padding: 0;
    font-family: "Kameron", "Noto Sans JP", sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, #ffffff, #c7c7c7);
}

.contact-form{
    border: 1px solid #cfcfcf ;
    background-color: #eaebe6;
    padding: 50px 30px;
    box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 50%);
}

.title{
    text-align: center;
    font-style: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

form{
    width: 460px;
    margin: 0 auto;
}

.item{
    overflow: hidden;
    margin-bottom: 20px;
}

.label{
    float: left;
    margin-right: 20px;
    width: 135px;
    border-left: 4px solid #31a8ff;
    padding-left: 10px;
}

.input{
    float: left;
    width: 300px;
}

input[type="text"],
input[type="e-mail"]{
    padding: 10px;
    font-size: 15px;
    border: solid 1.5px #aaa;
    border-radius: 5px;
}

textarea{
    border: solid 1.5px #aaa;
    border-radius: 5px;
    padding: 10px;
    height: 160px;
    width: 300px;
    font-size: 15px;
}

.button-area{
    text-align:center;
}

input[type="submit"]{
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 50%);
    font-size: 17px;
    font-weight:bold;
    border-radius: 3px;
    margin: 0 10px;
    cursor: pointer;
}

input[type="reset"]{
    background-color: rgb(133, 133, 133);
    color: white;
    border: none;
    padding: 10px 20px;
    box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 50%);
    font-size: 17px;
    font-weight:bold;
    border-radius: 3px;
    margin: 0 10px;
    cursor: pointer;
}